@media screen and (min-width: 1000px) {
  header {
    height: 80px;
  }
  .clock {
    font-size: 50px;
  }
  .weather {
    font-size: 30px;
  }
  .login input {
    font-size: 30px;
    width: 20vw;
  }
  .info .user_name {
    font-size: 40px;
  }
  .info button {
    font-size: 20px;
  }
  .todo__input {
    height: 70px;
  }
  .todo__input form input:nth-child(1) {
    font-size: 30px;
  }
  .todo__input form button {
    font-size: 30px;
  }
  .todo__list {
    font-size: 40px;
  }
  .todo__list > div {
    padding: 10px 50px;
  }
  .todo__list button {
    font-size: 20px;
  }
}

@media screen and (max-width: 1000px) {
  header {
    height: 8vw;
  }
  .clock {
    font-size: 5vw;
  }
  .weather {
    font-size: 3vw;
  }
  .login input {
    font-size: 3vw;
    width: 20vw;
  }
  .info .user_name {
    font-size: 4vw;
  }
  .info button {
    font-size: 2vw;
  }
  .todo__input {
    height: 7vw;
  }
  .todo__input form input:nth-child(1) {
    font-size: 3vw;
  }
  .todo__input form button {
    font-size: 3vw;
  }
  .todo__list {
    font-size: 4vw;
  }
  .todo__list > div {
    padding: 1vw 5vw;
  }
  .todo__list button {
    font-size: 2vw;
  }
}
