.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  width: 90vw;
}

.todo__input {
  margin-bottom: 10vh;
  display: flex;
  width: 60vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.todo__input form {
  width: 100%;
  margin: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__input form input {
  width: 80%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: azure;
  border-bottom: 1px solid azure;
}

.todo__input form input::placeholder {
  color: rgb(177, 184, 184);
  text-align: center;
}

.todo__input form button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  height: 70%;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 20px;
  color: rgba(32, 32, 32, 0.8);

  padding-bottom: 0.5%;
}
.todo__input form button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.todo__list {
  background-color: rgba(0, 0, 0, 0.5);
  width: 70vw;
  color: azure;
}

.todo__list__header {
  display: grid;
  justify-items: center;
}

.todo__list__nothing {
  display: flex;
  justify-content: center;
  color: darkgray;
}
.todo__list__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid azure;
}
.todo__list button {
  color: azure;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
}
.todo__list button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
